<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         bootstrap="vendor/autoload.php"
         verbose="true"
         stopOnFailure="true"
         colors="true">

    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="DB_DSN" value="mysql:dbname=techycompanydb;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="techycompanydb" />
    </php>

</phpunit>


